
body {
    background: white;
    font-family: arial, sans-serif;
    background-color: #abc4ff;
    font-size: 0.75em;
  }
  
  .small {
    background-color: #cdb4db;
    
    
  }
  
  .medium {
    background-color: #80ed99;
  }
  
  .large {
    background-color: #5e60ce;
    flex : 2;
  }

  .quantity{
    text-align: right;
  }
  .order{
    margin: 50em;
  }
  
  .specials div {
    flex: 1;
    /* border: 1px solid lightgrey; */
    margin: 0em;
    padding: 1em;
    
  }
  
  .small img {
    width: 4em;
  }
  
  .medium img {
    width: 5em;
  }
  
  
  .large img {
    width: 7em;
    
  }
  
  

  
  .footer {
    display: flex;
  }
  
  .footer div {
    flex: 1;
  /*   border: 1px solid;
     */  margin-top: 1em;
    padding: 1em;
    background-color: #fec89a;
  }
  
  
  @media (min-width: 768px){
  
    .specials {
      display: flex;
    }
    
    body {
      font-size: 1em;
    }
    
  }
  
  
  .row {
    max-width: 80%;
    margin: 20px auto;
  }

  .cartTotal {
		position: fixed;
		/* width: 100%; */
		/* margin: auto; */
		width: 20%;
		/* min-height: 15em; */
		background-color: #fec89a;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; */
		border-radius: 0.25em;
		/* z-index: 1000; */
	}